<!doctype html>
<html>
  <head>
    <meta name = "viewport" content = "width = device-width, minimum-scale = 1.0, maximum-scale = 1.0, initial-scale = 1.0, user-scalable = no">
    <link href="listBirds.css" rel="stylesheet" type="text/css">
  </head>
  <body ng-controller="BirdsCtrl">
  	<div class="top">
  		<div class="controls">
            <form>
                <input class="clearfix"  id="search" type="search" name="search" placeholder="Search by Name, Notes" ng-model="birdName" />
            </form>
            <span class="button-grp">
                <month-picker selected-months="selectedMonths" display-filter="monthFilter"></month-picker>
                <input class="menu-reverse clearfix"  id="reverse" type="checkbox" ng-model="reverse" /><label for="reverse" class="bird" ng-show="!isHandheld || (isHandheld && monthFilter)">{{reverse?'Jan &rarr; Dec':'Dec &rarr; Jan'}}</label>
                <input class="menu-lifers clearfix"  id="lifers" type="checkbox" ng-model="lifers" /><label for="lifers" class="bird">{{lifers?'Life Birds':'All Birds'}}</label>
                <input class="menu-graph clearfix"  id="showGraph" type="checkbox" ng-model="showGraph" /><label for="showGraph" class="bird">{{showGraph?'Graph View':'List View'}}</label>
                <input class="menu-diff clearfix"  id="showDiff" type="checkbox" ng-model="showDiff" /><label for="showDiff" class="bird" ng-show="!isHandheld || (isHandheld && monthFilter)">{{showDiff?'Diff View':'Full View'}}</label>
            </span>
            <span class="hamburger">
                <input class="clearfix"  id="menu" type="checkbox"  ng-model="monthFilter"/><label for="menu" class="bird">&equiv;</label>
            </span>
		</div>
	</div>

	<span ng-click ng-swipe-left="loadNewYear(false)" ng-swipe-right="loadNewYear(true)" ng-class="{'graphmode':showGraph}">
		<div class="bird-info-bar" ng-click="toggleDrawer()"></div>

		<div class="bird-info-bar-container listHolderHolder slide" ng-click="toggleDrawer()" ng-class="{showInfo:drawerState}">
			<bird-info-container ng-if="!isHandheld" init-bird="initBird" ng-repeat="year in birdLists | reverseOrder:false" drawer-state="drawerState" year="year"></bird-info-container>
			<bird-info-container ng-if="isHandheld && birdLists.length" init-bird="initBird" drawer-state="drawerState" year="birdLists[currentYearIndex]"></bird-info-container>
		</div>

		<div class="listHolderHolder years">
		    <div class="listHolder" ng-repeat="year in getBirdLists() | reverseOrder:false">
				<bird-list selected-months="selectedMonths" year="year" drawer-state="drawerState" bird-name="{{birdName}}" reverse="{{reverse}}" lifers="{{lifers}}" show-diff="{{showDiff}}" select="selectBird(b)" refresh="refreshList(year)"></bird-list>
		    </div>
		</div>
	</span>

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js" type="text/javascript"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-touch.js" type="text/javascript"></script>
   	<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js" type="text/javascript"></script>

   	<script src="bird-store/index.js" type="text/javascript"></script>
   	<script src="bird-store/google-spreadsheet-keys.js" type="text/javascript"></script>
   	<script src="bird-store/google-spreadsheet-bird-parser.js" type="text/javascript"></script>
   	<script src="bird-store/bird-service.js" type="text/javascript"></script>

	<script src="bird-info/index.js" type="text/javascript"></script>
   	<script src="bird-info/bird-info-container-container.js" type="text/javascript"></script>
   	<script src="bird-info/bird-info-container.js" type="text/javascript"></script>

   	<script src="bird-list/index.js" type="text/javascript"></script>
   	<script src="bird-list/bird-list.js" type="text/javascript"></script>

	<script src="month-picker/index.js" type="text/javascript"></script>
	<script src="month-picker/month-picker.js" type="text/javascript"></script>

	<script src="utils/index.js" type="text/javascript"></script>

   	<script src="birds.js" type="text/javascript"></script>

	<script type="text/ng-template" id="allbirds.html">
		<div>
            <img class="loading-img" ng-show="loading" src="https://cdnjs.cloudflare.com/ajax/libs/timelinejs/2.25/css/loading.gif" />
			<ol class="bird-table" ng-class="{showInfo:drawerState, loading:loading}">
				<li class="year"><span class="timestamp hidden-space">&orarr;</span><span ng-bind="::year.year"></span><a class="timestamp" href="#" ng-click="doRefresh(year)" title="Last Refresh: {{::year.timestamp|date:'medium'}}">&orarr;</a></li>
				<li ng-if="lifers=='true' && !selectedMonths.length" class="total">{{(year.birds | filter: birdName | filter: {lifer: true} ).length}} Birds</li>
				<li ng-if="lifers=='false' && !selectedMonths.length" class="total">{{(year.birds | filter: birdName ).length}} Birds</li>
				<li ng-if="showDiff=='true' && !selectedMonths.length" class="total">{{(year.birds | filter: birdName | filter: {alreadyFound: false}).length}} Unseen</li>
			    <ng-include ng-if="!isMonthHidden(month[0].month)" src="'monthbird.html'" ng-repeat="month in year.byMonth | orderObjectBy | reverseOrder:reverse"></ng-include>
			</ol>
		</div>
	</script>

	<script type="text/ng-template" id="monthbird.html">
		<li class="month" ng-hide="birdName.length || lifers=='true' || showDiff=='true'"><span ng-bind="::formatMonth(month[0].month)"></span>: <span ng-bind="::month.length"></span> birds</li>
		<li class="bird {{ ::formatMonth(bird.month) | lowercase }}" ng-class="{lifer:bird.lifer}" ng-hide="(lifers=='true' && {{!bird.lifer}}) || (showDiff=='true' && bird.alreadyFound)" ng-repeat="bird in month | filter: birdName | reverseOrder:reverse" ng-click="select({b:bird})" >
			<span class="bird-name" ng-bind="::bird.bird"></span>
		</li>
	</script>

	<script type="text/ng-template" id="infocontainer.html">
		<div class="listHolder" ng-class="{empty:!bird}">
				<div class="info {{ formatMonth(bird.month) | lowercase }}">
					<ol ng-if="bird">
						<li ng-bind="bird.bird"></li>
						<li ng-class="{selected: bird.year == year.year}"><span ng-bind="formatDate(bird)"></span> (d. <span ng-bind="bird.doy+1"></span>)
							<ul>
								<li ng-show="bird.location" ng-bind="bird.location"></li>
								<li ng-show="bird.locationDesc" ng-bind="bird.locationDesc"></li>
								<li ng-show="bird.notes" ng-bind="bird.notes"></li>
								<li ng-show="bird.lifer" ng-bind="getLifer(bird)"></li>
							</ul>
						</li>
					</ol>
				</div>
		</div>
	</script>

  	<script type="text/ng-template" id="monthpicker.html">
		<div class="month-picker-container">
            <input class="menu-month clearfix"  id="month" type="checkbox" ng-model="monthFilter" /><label for="month" class="bird" ng-class="{'filter-on': selectedMonths.length>0}">Month</label>
            <div class="month-picker" ng-show="monthFilter">
				<month-picker-month month="month" ng-repeat="month in months"></month-picker-month>
				<div class="remove" ng-click="removeAll()" title="Show all months">x</div>
			</div>
		</div>
	</script>
  </body>
</html>
