<!doctype html>
<html>
  <head>
	<link href="listBirds.css" rel="stylesheet" type="text/css">
  </head>
  <body ng-controller="BirdsCtrl">
  	<div class="top">
  		<div class="controls">
			<bird-suggestion ng-show="suggestedBird" bird="suggestedBird" select="selectBird(b)" next="getNextSuggestion(direction)"></bird-suggestion>
		    <input class="clearfix"  id="search" type="search" placeholder="Search by Name, Notes" ng-model="birdName" />
		    <span class="button-grp">
				<input class="clearfix"  id="reverse" type="checkbox" ng-model="reverse" /><label for="reverse" class="bird">{{reverse?'Dec &rarr; Jan':'Jan &rarr; Dec'}}</label>
				<input class="clearfix"  id="lifers" type="checkbox" ng-model="lifers" /><label for="lifers" class="bird">{{lifers?'Life Birds':'All Birds'}}</label>
				<input class="clearfix"  id="showGraph" type="checkbox" ng-model="showGraph" /><label for="showGraph" class="bird">{{showGraph?'Graph View':'List View'}}</label>
			</span>
		</div>
	</div>

	<span ng-class="{'graphmode':showGraph}">
		<div class="bird-info-bar" ng-click="toggleDrawer()"></div>

		<div class="bird-info-bar-container listHolderHolder slide" ng-click="toggleDrawer()" ng-class="{showInfo:drawerState}">
			<bird-info-container init-bird="initBird" ng-repeat="year in birdLists | reverseOrder:true" drawer-state="drawerState" year="year"></bird-info-container>
		</div>

		<div class="listHolderHolder years">
		    <div class="listHolder" ng-repeat="year in birdLists | reverseOrder:true">
				<bird-list year="year" drawer-state="drawerState" bird-name="{{birdName}}" reverse="{{reverse}}" lifers="{{lifers}}" select="selectBird(b)" refresh="refreshList(year)"></bird-list>
		    </div>
		</div>
	</span>

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js" type="text/javascript"></script>
   	<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js" type="text/javascript"></script>

   	<script src="bird-store/index.js" type="text/javascript"></script>
   	<script src="bird-store/google-spreadsheet-keys.js" type="text/javascript"></script>
   	<script src="bird-store/google-spreadsheet-bird-parser.js" type="text/javascript"></script>
   	<script src="bird-store/bird-service.js" type="text/javascript"></script>

	<script src="bird-info/index.js" type="text/javascript"></script>
   	<script src="bird-info/bird-info-container-container.js" type="text/javascript"></script>
   	<script src="bird-info/bird-info-container.js" type="text/javascript"></script>
	
   	<script src="bird-list/index.js" type="text/javascript"></script>
   	<script src="bird-list/bird-list.js" type="text/javascript"></script>

	<script src="bird-suggestion/index.js" type="text/javascript"></script>
	<script src="bird-suggestion/bird-suggestion.js" type="text/javascript"></script>

	<script src="utils/index.js" type="text/javascript"></script>

   	<script src="birds.js" type="text/javascript"></script>

	<script type="text/ng-template" id="allbirds.html">
		<div>
			<ol class="bird-table" ng-class="{showInfo:drawerState}">
				<li class="timestamp"><a href="#" ng-bind="::year.timestamp | timestamp" ng-click="refresh({y:year})"></a></li>
				<li class="year" ng-bind="::year.year"></li>
				<li ng-if="lifers=='true'" class="total">{{(year.birds | filter: birdName | filter: lifers ).length}} Birds</li>
				<li ng-if="lifers=='false'" class="total">{{(year.birds | filter: birdName ).length}} Birds</li>
			    <ng-include src="'monthbird.html'" ng-repeat="month in year.byMonth | orderObjectBy | reverseOrder:reverse"></ng-include>
			</ol>
		</div>
	</script>

	<script type="text/ng-template" id="monthbird.html">
		<li class="month" ng-hide="birdName.length || lifers=='true'"><span ng-bind="::formatMonth(month[0].month)"></span><span ng-bind="::formatMonth(month[0].year)"></span>: <span ng-bind="::month.length"></span> birds</li>
		<li class="bird {{ ::formatMonth(bird.month) | lowercase }}" ng-class="{lifer:bird.lifer}" ng-hide="lifers=='true' && {{!bird.lifer}}" ng-repeat="bird in month | filter: birdName | reverseOrder:reverse" ng-click="select({b:bird})" >
			<span class="bird-name" ng-bind="::bird.bird"></span>
		</li>
	</script>

	<script type="text/ng-template" id="infocontainer.html">
		<div class="listHolder" ng-class="{empty:!bird}">
				<div class="info {{ formatMonth(bird.month) | lowercase }}">
					<ol ng-if="bird">
						<li ng-bind="bird.bird"></li>
						<li ng-class="{selected: bird.year == year.year}"><span ng-bind="formatDate(bird)"></span> (d. <span ng-bind="bird.doy"></span>)
							<ul>
								<li ng-show="bird.location" ng-bind="bird.location"></li>
								<li ng-show="bird.locationDesc" ng-bind="bird.locationDesc"></li>
								<li ng-show="bird.notes" ng-bind="bird.notes"></li>
								<li ng-show="bird.lifer" ng-bind="getLifer(bird)"></li>
							</ul>
						</li>
					</ol>
				</div>
		</div>
	</script>

    <script type="text/ng-template" id="suggestion.html">
        <ol class="suggestion">
			<li class="bird refresh left" ng-click="next({direction:true})">&larr;</li>

			<li class="bird suggest {{ bird.month | monthName | lowercase }}" ng-class="{lifer:bird.lifer}" ng-click="select({b:bird})" >
                <span class="bird-name" ng-bind="bird.bird"></span>&nbsp;<span ng-bind="bird.month+1"></span>/<span ng-bind="bird.date"></span>/<span ng-bind="bird.year"></span>
            </li>
            <li class="bird refresh right" ng-click="next()">&rarr;</li>
        </ol>
    </script>
  </body>
</html>
