html {
	background-color: #F4F1EA;	
}
body {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #333;
	padding: 0;
	margin: 0;
	min-width: 700px;
}
#birdGraph {
	margin: 80px;
}
.top {
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 100;
}

.bird-info-bar {
	width: 100%;
	height: 20px;
	background-color: #666;
	cursor: pointer;
	z-index: 200;
	position: fixed;
	top: 50px;
}
.bird-info-bar-container {
	position: fixed;
	z-index: 50;
}
.controls {
	height: 50px;
	background-color: #9DD2D7;
	padding: 10px;
	text-align: right;
}
.controls input[type=search]{
	width: 300px;
	font-size: large;
}
.controls input[type=checkbox] {
	display: none;
}
.controls input[type=checkbox] + label {
	/*display: block;*/
	margin-top: 5px;
	opacity: .5;
	cursor: pointer;
	display: inline-block;
	width: 100px;
	text-align: center;
	line-height: 20px;
}
.controls input[type=checkbox] + label:hover {
	background-color: #49463F;
	color: #F4F1EA;
	opacity: 1;
}
.controls input[type=checkbox]:checked + label {
	background-color: #377F87;
	opacity: 1;
    color: #F4F1EA;	
}

.info {
	color: white;
	height: inherit;
	padding: 10px 0 0 10px;
	border: 1px solid #F4F1EA;
	border-top: none;
	text-align: left;
	border-bottom: none;
	overflow: hidden;
}

.info > ol {
	float: left;
}
.listHolderHolder {
	margin: 0 10px;
	display: table;
	table-layout: fixed;
	width: 99%;
	z-index: 5;
}
.listHolder {
	display: table-cell;
	width: auto;
	max-width: 33%;
	height: 195px;
}
.listHolder.empty {
	opacity: .5;
	background-color: #49463F;
}
.slide.listHolderHolder {
	-webkit-transition: .3s ease-out all;
  	transition: .3s ease-out all;
	margin-top: -157px;
}
.slide.listHolderHolder.showInfo {
	-webkit-transition: .3s ease-out all;
  	transition: .3s ease-out all;
	margin-top: 60px;
	cursor: pointer;
}


.info ul {
	margin-top: 0;
	padding-left: 20px;
}

ol {
	padding: 0;
	margin:0;
	
	list-style: none;
}
.bird-table li{
	margin-bottom: 5px;
}
ol.bird-table {
	-webkit-transition: .3s ease-out all;
  	transition: .3s ease-out all;
	padding-top: 70px;
}
ol.bird-table.showInfo {
	-webkit-transition: .3s ease-out all;
  	transition: .3s ease-out all;
	padding-top: 290px;
}

.bird {
	padding: 5px 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	margin: 5px;
	cursor: pointer;
	color: white;
}

li.month{
  text-align: center;
}
li.total,
li.year {
  text-align: center;
  font-size: 35px;
}

.january {
	background-color: #3498db;
}
.february {
	background-color: #95a5a6;
}
.march {
	background-color: #34495e;
}
.april {
	background-color: #c0392b;
}
.may {
	background-color: Orange;
}
.june {
	background-color: #16a085;
}
.july {
	background-color: #f1c40f;	
}
.august{
	background-color: #e74c3c;
}
.september{
	background-color: #7f8c8d;
}
.october{
	background-color: #d35400;
}
.november{
	background-color: #8e44ad;
}
.december{
	background-color: #27ae60;
}
.bird.lifer {
	text-decoration: overline;
}
.bird.lifer span {
	border-bottom: 1px solid white;
}
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.clearfix:after {
    clear: both;
}

.graphmode .bird-table .month {
	display:none;
}
.graphmode .bird-table li {
	margin: 0;
	border-radius:0;
	padding:0;
	height: 3px;
}
.graphmode .bird-table li span {
	display: none;
}
.graphmode .bird-table .year{
	position: absolute;
	bottom:0;
	left: 40%;
}
.graphmode .bird-table .total {
	top: -50px;
	position: relative;
}

.graphmode .listHolderHolder {
	margin-top: 50px;	
}

.graphmode .listHolder {
	vertical-align: bottom;
	position: relative;
}

.graphmode .bird-info-bar, .graphmode .bird-info-bar-container {
	display: none;
}

.graphmode .bird {
	cursor: inherit;
}
