html {
	background-color: #F4F1EA;
}
body {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #333;
	padding: 0;
	margin: 0;
}
#birdGraph {
	margin: 80px;
}
.top {
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 100;
}

.bird-info-bar {
	width: 100%;
	height: 20px;
	background-color: #8aa;
	cursor: pointer;
	z-index: 200;
	position: fixed;
	top: 50px;
}
.bird-info-bar-container {
	position: fixed;
	z-index: 50;
}
.controls {
	height: 50px;
	background-color: #9DD2D7;
	padding: 10px;
	z-index: 100;
	position: fixed;
	text-align: right;
	width: 100%;
}
.controls label {
    -webkit-user-select: none;
}
.controls input[type=search]{
    -webkit-appearance:textfield;
	width: 300px;
	float: left;
	font-size: large;
    border-radius: 15px;
    height: 39px;
    padding: 10px;
    border: 2px solid white;
    margin-top: -7px;
}
.controls .button-grp {
	float:right;
	margin-right: 20px;
}
.controls input[type=checkbox] {
	display: none;
}
.controls input[type=checkbox] + label {
	border: 2px solid;
	margin-top: 5px;
	opacity: .5;
	cursor: pointer;
}
.controls input[type=checkbox] + label:hover {
	background-color: #49463F;
	color: #F4F1EA;
	opacity: 1;
}
.controls input[type=checkbox]:checked + label {
	background-color: #377F87;
	opacity: 1;
    color: #F4F1EA;
}
.month-picker-container label.filter-on:after {
    content:'\2605';
}
.info {
	color: white;
	height: inherit;
	padding: 10px 0 0 10px;
	border: 1px solid #F4F1EA !important;
	border-top: none;
	text-align: left;
	border-bottom: none;
	overflow: hidden;
}

.info > ol {
	float: left;
}
.listHolderHolder {
	display: table;
	table-layout: fixed;
	width: 100%;
	z-index: 5;
}
.listHolder {
	display: table-cell;
	width: auto;
	height: 195px;
}
.listHolder.empty {
	opacity: .5;
	background-color: #49463F;
}
.slide.listHolderHolder {
	-webkit-transition: .3s ease-out all;
  	transition: .3s ease-out all;
	margin-top: -157px;
}
.slide.listHolderHolder.showInfo {
	-webkit-transition: .3s ease-out all;
  	transition: .3s ease-out all;
	margin-top: 60px;
	cursor: pointer;
}

.info ul {
	margin-top: 0;
	padding-left: 20px;
}

ol {
	padding: 0;
	margin:0;
	list-style: none;
}

ol.bird-table {
	-webkit-transition: .3s ease-out all;
  	transition: .3s ease-out all;
	padding-top: 75px;
}
ol.bird-table.showInfo {
	-webkit-transition: .3s ease-out all;
  	transition: .3s ease-out all;
	padding-top: 270px;
}

.bird {
    padding: 5px 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    margin: 5px;
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

li.month{
  text-align: center;
}
li.total,
li.year {
  text-align: center;
  font-size: 35px;
}
.hidden-space {
	visibility: hidden;
}
span.timestamp,
a.timestamp {
	color: #999;
	text-decoration: none;
	font-size: 14px;
}

.january {
	background-color: #3498db;
    border: 2px solid #3498db;
}
.february {
	background-color: #95a5a6;
    border: 2px solid #95a5a6;
}
.march {
	background-color: #27ae60;
    border: 2px solid #27ae60;
}
.april {
	background-color: #c0392b;
    border: 2px solid #c0392b;
}
.may {
	background-color: Orange;
    border: 2px solid Orange;
}
.june {
	background-color: #16a085;
    border: 2px solid #16a085;
}
.july {
	background-color: #f1c40f;
    border: 2px solid #f1c40f;
}
.august{
	background-color: #e74c3c;
    border: 2px solid #e74c3c;
}
.september{
	background-color: #7f8c8d;
    border: 2px solid #7f8c8d;
}
.october{
	background-color: #d35400;
    border: 2px solid #d35400;
}
.november{
	background-color: #8e44ad;
    border: 2px solid #8e44ad;
}
.december{
	background-color: #34495e;
    border: 2px solid #34495e;
}
.bird:not(.lifer){
    color: white;
}
.bird.lifer {
    background-color: transparent !important;
    color: #333;
}
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.clearfix:after {
    clear: both;
}
.graphmode .bird.lifer {
	background-color: #FEFCFF !important;
}
.graphmode .bird-table .month {
	display:none;
}
.graphmode .bird-table li {
	margin: 0;
	border-radius:0;
	padding:0;
	height: 2px;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}
.graphmode .bird-table li span {
	display: none;
}
.graphmode .bird-table li.year span,
.graphmode .bird-table li.year span {
	display: inline-block;
}
.graphmode .bird-table li.year span.hidden-space {
	display: none;
}
.graphmode .bird-table .year{
	position: absolute;
	bottom:0;
	left: 40%;
}
.graphmode .bird-table .total {
	top: -50px;
	position: relative;
}

.graphmode .listHolderHolder {
	margin-top: 50px;
}

.graphmode .listHolder {
	vertical-align: bottom;
	position: relative;
}

.graphmode .bird-info-bar, .graphmode .bird-info-bar-container {
	display: none;
}

.graphmode .bird {
	cursor: inherit;
}
.month-picker-container {
    display: inline-block;
}
.month-picker {
    width: 385px;
    float: left;
    display: table;
}
.month-picker div {
	overflow: hidden;
	float:left;
	cursor: pointer;
	text-align: center;
	border-width: 2px;
	border-style: solid;
	-webkit-user-select: none;
	line-height: 30px;
	margin-top: -4px;
	color: white;
	display: table-cell;
	box-sizing: border-box;
	width: 7.6%;
}
.month-picker div:first-child {
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
}
.month-picker div:last-child {
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
}

.month-picker div.inactive {
	background-color: white;
	color: inherit;
}

.month-picker div.remove {
	border-color: #333;
	color: #333;
}

.month-picker div:after {
	clear: both;
}

label[for=menu] {
    display: none;
}

@media (max-width: 1200px) {
    .controls input[type=search] {
        margin-top: 5px;
        margin-left: 5px;
    }
    .controls {
        padding: 0;
    }
    .controls .button-grp {
        margin-right: 0;
    }
    .controls .hamburger {
        float: right;
        margin-top: 12px;
    }
    label[for=month],
    label[for=lifers],
    label[for=showGraph] {
        display: none;
    }
    label[for=menu] {
        display: inline;
    }
    .month-picker {
        position: fixed;
        left: 0;
        top: 50px;
        float: none;
    }
    label[for=reverse],
    label[for=showDiff] {
        text-align: center;
        position: fixed;
        top: 85px;
        float: none;
        width: 78px;
    }
    label[for=reverse] {
        background-color: #9DD2D7;
        left: 0;
    }
    label[for=showDiff] {
        background-color: #9DD2D7;
        right: 0;
    }

.top {
    z-index: 300;
}
.month-picker {
    width: 100%;
}
.month-picker div {
    line-height: 25px;
    float: none;
}
.month-picker div.remove {
    background-color: white;
}
.month-picker div:first-child,
.month-picker div:last-child {
    border-radius: 0;
}
}
